*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.clearfix::after{
  content: '';
  display: table;
  clear:both
}

.container{
  margin: auto;
  width: 85%;
  max-width: 1200px;
}

.overlay{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}


/* 
  HEADER
*/
.logo-menu, .jumbo{
  margin-bottom: 30px;
}
/* logo */
.logo{
  width: 160px;
  height: 60px;
  border-right: 1px solid #E9E9E9;
  padding-right: 20px;
  margin-bottom: 40px;
}

/* Main Navigation Menu */
nav ul{
  list-style: none;
}

nav ul li{
  float: left;
}

nav ul li a{
  color: #ACACAC;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 2px 3px 2px 0;
}
.spaced{
  padding: 2px 3px;
  text-align: center;
}

nav ul li a:hover{
  background-color: #dadada;
  color: rgb(255, 253, 253);
  cursor: pointer;
}

/* Jumbotron */
.jumbo{
  background-image: url('../img/banner.jpg');
  height: 500px;
  color: white;
  margin-bottom: 45px;
  width: 100%;
}

.text{
  text-align: justify;
}

.jumbo .text p:first-child{
  padding: 25% 45% 0 5%;
  font-size: 1.8rem;
}

.jumbo .text p{
  padding-right: 50%;
  padding-left: 5%;
}


/* 
  MAIN
*/

/* Main's header */
.main-header{
  margin-bottom: 40px;
}
.main-header h2{
  font-size: 2.5rem;
}

.main-header p{
color: #9f9f9f;
}


/* columns */
.columns p{
  color: #7F7F7F;
}
.columns h4{
  font-weight: 300;
  padding-bottom: 20px;

}

.col{
  float: left;
  margin-bottom: 40px;

}

.col-left, .col-right {
  width: 20%;
}

.img-clmn-l{
  background-image: url(/assets/img/img-1.jpg);
  height: 200px;

}

.img-clmn-m{
  background-image: url(/assets/img/banner-2.jpg);
  height: 200px;
}

.img-clmn-r{
  background-image: url(/assets/img/img-3.jpg);
  height: 200px;
}

.img-col{
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;

}

.main-col{
  width: 58%;

}

.col-left{
  margin-right: 1%;

}

.col-right{
  margin-left: 1%;
}


/*
 FOOTER 
 */

 footer h4{
   text-align: center;
   font-weight: 200;
 }

 footer h4::after{
   content: '\2665';
   color: red;
 }